@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('font/iranyekanwebboldfanum.eot');
    src: url('font/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('font/iranyekanwebboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('font/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url('font/iranyekanwebthinfanum.eot');
    src: url('font/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('font/iranyekanwebthinfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('font/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('font/iranyekanweblightfanum.eot');
    src: url('font/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('font/iranyekanweblightfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('font/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('font/iranyekanwebregularfanum.eot');
    src: url('font/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('font/iranyekanwebregularfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('font/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url('font/iranyekanwebmediumfanum.eot');
    src: url('font/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('font/iranyekanwebmediumfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('font/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url('font/iranyekanwebextraboldfanum.eot');
    src: url('font/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('font/iranyekanwebextraboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('font/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url('font/iranyekanwebblackfanum.eot');
    src: url('font/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('font/iranyekanwebblackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('font/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 950;
    src: url('font/iranyekanwebextrablackfanum.eot');
    src: url('font/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('font/iranyekanwebextrablackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('font/iranyekanwebextrablackfanum.ttf') format('truetype');
}

body
{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #2c2c2c;
    z-index: 99999999999;
}
header
{
    background: #f9f9f9;
    padding: 10px;
}
header *
{
    color: #000;
    font-family: iranyekan;
}
header img
{
    width: 50px;
    height: 50px;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: top center;
    -o-object-position: top center;
    border-radius: 50%;
    margin-left: 10px;
    box-shadow: 0 0 2px 0 #ccc;
}
main
{
    padding: 20px;
    text-align: center;
}
main *
{
    color: #fff;
    font-family: iranyekan;
}
main img
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: top center;
    -o-object-position: top center;
    box-shadow: 0 0 2px 0 #ccc;
    margin-bottom: 20px;
}
main p span
{
    font-size: 25px;
    font-weight: 900;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 10px;
}
.lds-ellipsis div {
    position: absolute;
    top: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 999999999999999;
    padding: 10px;
}
footer svg {
    background-color: #fff;
    width: 40px;
    height: 40px !important;
    padding: 10px 25px;
    border-radius: 20px;
    color: #333;
}
footer svg.fa-phone {
    color: #bf0000;
    position: relative;
}
footer .end_call {
    position: relative;
}
footer .end_call:after {
    content: '';
    position: absolute;
    right: 25px;
    top: -8px;
    width: 50px;
    height: 3px;
    background: #bf0000;
    transform: rotate(-45deg);
}

@media(max-width: 567px)
{
    footer svg {
        width: 35px;
        height: 35px !important;
    }
}